<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TMC人事管理.Properties.Settings.JINJIConnectionString" connectionString="Data Source=DNX31150\SID1;Initial Catalog=JINJI;Persist Security Info=True;User ID=sa;Password=chib@pc2016" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
